@using System;
@using D = System.Data;
@using c = System.Data.SqlClient;
<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">


      <meta content="Pretty much the coolest website for art made in Montana" name="description">
      <meta content="noodp" name="robots">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="author" content="Chris Murphy">
      <title>The Sonic Hood</title>

      <!--BOOTSTRAP!!-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!--javascript-->
         <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/script.js"></script>

      <!--my style-->
      <link href="https://fonts.googleapis.com/css?family=Delius+Unicase|Inconsolata|Rokkitt|Sanchez|Six+Caps" rel="stylesheet">
      <link href="css/sonicHood.css" rel="stylesheet" />

   </head>
   <body>
      <h1 id="headerOne"><span>The Sonic Neighborhood</span> </h1>
      <div class="container content row" id="mainDiv">
   <!--Side bar navigation that will display block when 960px;-->
      <div id="sideBar" class="col-sm-4">
          <h3>Current Projects</h3>
          <div id="sideBarText">
      <a href="http://www.rotgutwhines.com" id="rotgut" onmouseover="linkHover(this);">RotgutWhines.com</a>
      <a href="http://www.windbag406.com" id="windbag" onmouseover="linkHover(this);">Windbag406.com</a>
      <a href="/synthscape/" title="For Fancy Navigation" id="synth" onmouseover="linkHover(this);">Synthscape</a>
      <a href="/fancychild.html" id="fancyChild" title="For Fancy Navigation" id="fancychild" >FancyChild</a>
          </div>
      </div>
   <!--Content of the site changed by above nav bar	-->
      <div  class="col-sm-8" >
      <div class="content">
            @RenderBody()
      </div>
      </div>
      </div>
      <div id="footer">
      <a href="/about/">About</a>
      </div>


   </body>
</html>
