﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" MasterPageFile="SonicHoodMaster.master"%>
<asp:Content runat="server" ContentPlaceHolderID="BodyPlaceHolder">
    
    <h2>This is the Default page prob have login and a blog style showing he most recent things posted</h2>
    
    

</asp:Content>


