<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly"
                      defaultRedirect="~/error.html" />
  </system.web>
  <connectionStrings>
  <add 
    name="sonichood" 
    connectionString="Server=tcp:sonichood.database.windows.net,1433;Data Source=sonichood.database.windows.net;Initial Catalog=dbo.sonichood;Persist Security Info=False;User ID={chrismurphy};Password={Tr00p2!4};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
    providerName="System.Data.SqlClient"
  />
</connectionStrings>
</configuration>