<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <customErrors mode="Off"
                      defaultRedirect="~/error.html" />
  </system.web>
  <connectionStrings>
  <add 
    name="sonichood" 
    connectionString="Data Source=tcp:sonichood.database.windows.net,1433;Initial Catalog=dbo.sonichood;User ID=chrismurphy@sonichood;Password=Tr00p2!4"
    providerName="System.Data.SqlClient"
  />
</connectionStrings>
</configuration>